<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.sushi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@drawable/ic_logo_tomo_sushi"
        android:label="@string/app_name"
        android:screenOrientation="reverseLandscape"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="reverseLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="reverseLandscape" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="reverseLandscape" />

        <activity
            android:name=".CartActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="reverseLandscape" />

        <activity
            android:name=".BillActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="reverseLandscape" />

        <activity
            android:name=".SettingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="reverseLandscape" />

        <activity
            android:name=".OrderActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="reverseLandscape" />

        <meta-Data
            android:name="com.bumptech.glide.integration.okhttp.OkHttpGlideModule"
            android:value="GlideModule" />

    </application>

</manifest>